/*  your css code here. If applicable */
.container{
	display:grid;
	grid-template-columns:repeat(20,1fr);
	grid-gap:2px;	
}
.square{
	height:40px;
	width:40px;
	background-color :rgb(29, 29, 29)
	transition: background-color 0.3s;
}
.square.hovered{
	background-color: lightskyblue;
}